.footerContainer {
  background-color: #41197F;
  width: 100%;
  height: 54px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}