.headerContainer {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.headerContainer nav {
  background-color: #FCDC36;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  overflow: hidden;
  height: 54px;
  width: 100%;
}

.headerContainerLogo {
  display: flex;
  gap: 1rem;
}

.headerContainerNavIcons {
  display: flex;
  gap: 1rem;
}

.sectionIcon {
  /* background-color: #FCDC36; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.sectionIcon span {
  color: #41197F;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.headerActiveSearch {
  height: 110px;
  background-color: #41197F;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 10px 10px;
}

.headerActiveSearch > input {
  height: 40px;
  width: 100%;
  padding: 0 1rem;
  border-radius: 5px;
  border: solid 1px #010101;
}

.headerActiveSearch > div {
  display: flex;
  gap: 0.5rem;
}

.headerActiveSearch > div label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.headerActiveSearch button {
  height: 25px;
  width: 70%;
  margin-bottom: 0.7rem;
  border-radius: 5px;
  background-color: #FCC436;
  border: none;
}